@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../../public/js/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.prose table {
    display: block;
    width: 100% !important;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;  
    white-space: nowrap;  
}

.prose th, .prose td {
    min-width: 220px;
    border: 1px solid #e2e8f0;
    padding: 12px;
    text-align: left;
}

.prose h3{
    margin-top: 1.5rem !important;
}

.prose p{
    margin: 0.5rem 0 !important;
}

.prose ul {
    list-style-type: disc !important; 
    padding-left: 1rem !important;           
    margin: 0 0.5rem !important;   
}

.prose li {
    padding-left: 0.5rem !important;    
    margin: 0.25rem 0 !important; 
}

.prose li p{
    margin: 0 !important;
}
